In [1]:
import numpy as np
import matplotlib as plt
import pandas as pd

# Data Acquisition

## Introduction to pandas

In [4]:
accidents = pd.read_table("accidents.csv", sep=",") # or pd.read_csv("accidents.csv")

In [7]:
accidents

  Miles from Home  % of Accidents
0     less than 1              23
1          1 to 5              29
2         6 to 10              17
3        11 to 15               8
4        16 to 20               6
5         over 20              17